@font-face {
font-family: 'FranklinGothicURWCom-Dem';
font-style: normal;
font-weight: 700;
src: url('https://centennialcollege.yul1.qualtrics.com/ControlPanel/File.php?F=F_gzgKKKpabmZjfGR') format('woff2');
}
