@font-face {
  font-family: "FranklinGothicURW-Med";
  src: url('https://centennialcollege.yul1.qualtrics.com/ControlPanel/File.php?F=F_CgrEA4rRVdUfxJO') format('woff2'), url('https://centennialcollege.yul1.qualtrics.com/ControlPanel/File.php?F=F_8nLuI7wngRBYZpF') format('woff');
}
