@font-face {
        font-family: "FranklinGothicURWCom-Dem";
        src: url('https://centennialcollege.yul1.qualtrics.com/ControlPanel/File.php?F=F_gzgKKKpabmZjfGR') format('woff2'), url('https://centennialcollege.yul1.qualtrics.com/ControlPanel/File.php?F=F_tayElaU0bsWFWBb') format('woff');
    }
