@font-face {
        font-family: "FranklinGothicURWCom-Dem";
        src: url('https://github.com/safrazali/fg-fonts/blob/main/com_dem_font.woff2') format('woff2'), url('https://centennialcollege.yul1.qualtrics.com/ControlPanel/File.php?F=F_tayElaU0bsWFWBb') format('woff');
    }
